<form [formGroup]="LangueForm" (ngSubmit)="onSubmit()">
    <p-dialog class='custom-close-button' [(visible)]="displayModal" [modal]="true" [style]="{height :'30vw',width:'35vw'}"
    [baseZIndex]="10000" [draggable]="true" [resizable]="true" [closable]="false">
    <ng-template pTemplate="header">
        <div class="p-dialog-title">Add Work Experience</div>
    </ng-template>
     
    <div class="p-mb-5 mt-5">
        <div class="grid mt-5">
          <div class="container">
            <div class="row">
              <input name="id" hidden formControlName="_id" readonly>
      
              <div class="col-md-12">
                <label for="language" class="required">Language</label>
                <select id="language" formControlName="language" required>
                  <option value="">Select a language</option>
                  <option value="Anglais">Anglais</option>
                  <option value="Français">Français</option>
                  <option value="Espagnol">Espagnol</option>
                  <option value="Mandarin">Mandarin</option>
                  <option value="Arabe">Arabe</option>
                  <option value="Hindi">Hindi</option>
                  <option value="Russe">Russe</option>
                  <option value="Allemand">Allemand</option>
                  <option value="Polonais">Polonais</option>
                  <option value="Chinois">Chinois</option>
                  <option value="Japonais">Japonais</option>
                  <option value="Portogais">Portogais</option>
                  <option value="Italien">Italien</option>
                </select>
                <div *ngIf="isFieldInvalid('language')" class="p-error">
                  <span>Language is required.</span>
                </div>
              </div>
      
              <div class="col-md-12">
                <label for="gender" class="required">Level</label>
              </div>
      
              <div class="form-check flex align-items-center ml-5 col-md-3">
                <input type="radio" class="form-check-input" id="Intermediate" name="level" formControlName="level" value="Intermediate">
                <label for="Intermediate" class="form-check-label flex align-items-center">Intermediate</label>
              </div>
              <div class="form-check flex align-items-center ml-5 col-md-3">
                <input type="radio" class="form-check-input" id="male" name="level" formControlName="level" value="Beginner">
                <label for="male" class="form-check-label">Beginner</label>
              </div>
      
              <div class="form-check flex align-items-center col-md-3">
                <input type="radio" class="form-check-input" id="Advance" name="level" formControlName="level" value="Advance">
                <label for="Advance" class="form-check-label">Advance</label>
              </div>
              <div class="form-check flex align-items-center ">
                <input type="radio" class="form-check-input" id="fluent" name="level" formControlName="level" value="fluent">
                <label for="fluent" class="form-check-label">Fluent</label>
              </div>
      
              <div class="col-md-12">
                <label for="certification">Certificate</label>
                <select id="certification" formControlName="certificate">
                  <option value="">Select a certificate</option>
                  <option value="TOEIC">TOEIC</option>
                  <option value="TOEFL">TOEFL</option>
                  <option value="TCF">TCF</option>
                </select>
                <div *ngIf="isFieldInvalid('certificate')" class="p-error">
                  <span>Certificate is required.</span>
                </div>
              </div>
      
              <div class="col-md-12">
                <label for="grade">Grade</label>
                <input type="number" id="grade" formControlName="score" />
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      
   
    
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" (click)="closeModal()" label="No"
                class="p-button-outlined p-button-rounded p-button-danger blue-hover"></button>
            <button type="submit" pButton pRipple icon="pi pi-check"
             
                label="Save" class="p-button-outlined p-button-rounded p-button-secondary blue-hover"></button>
        </ng-template>
    </p-dialog>
    <p-dialog header="Are you sure you want to close this window?" [(visible)]="displayPosition" [modal]="true"
        [style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <p> Your changes will be lost if you leave without saving.</p>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" (click)="displayPosition=false" label="No"
                class="p-button-outlined p-button-rounded p-button-danger blue-hover"></button>
            <button pButton pRipple icon="pi pi-check" (click)="closeAllModals()" label="Yes"
                class="p-button-outlined p-button-rounded p-button-secondary blue-hover"></button>
        </ng-template>
    </p-dialog>
    </form>
